h2,h3,h4,h5,h6 {
    font-family:'Open Sans',sans-serif;
    color:#0085a1;
    text-rendering:optimizeLegibility;
    margin-top:.2em;
    margin-bottom:.5em;
    line-height:1.2125em;
    font-weight:400;
    font-style:normal
}

h2 {
    font-size:1.6875em
}

h3 {
    font-size:1.375em
}

h4 {
    font-size:1.125em
}

h5 {
    font-size:1.125em
}

h6 {
    font-size:1em
}
p {
	font-size: 16px;
	margin-top: 5px;
	text-align: justify;
	line-height: 30px;
}

pre.bibtex {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#publication-papers {
	display: block;
	float: left;
	list-style: none;
	margin: 20px 0 20px 0;
	padding: 0;
	text-align: center;
	width: 1020px;
}

#publication-papers li {
	background: url('{{ site.baseurl }}/img/toolbox/paper-pdf.png') 0 0 no-repeat;
	display: inline-block;
	font: normal 15pt/16pt 'Trebuchet MS', sans-serif;
	padding: 2px 2px 4px 37px;
	margin: 0 7px;
	min-height: 30px;
}

#publication-papers li a {
	/*border-bottom: 1px dotted #00bce9;*/
	color: #0060af;
	text-decoration: none;
}

#publication-papers li a:hover {
	/*border-bottom: none;*/
	color: #00bce9;
}

#publication-attachments li {
	display: block;
	float: left;
	font: normal 11pt/16pt 'Trebuchet MS', sans-serif;
	height: 32px;
	margin: 0 0 10px 0;
	overflow: hidden;
	padding: 3px 0 0 40px;
	width: 164px;
}

#publication-attachments li img {
	vertical-align: middle;
}

#publication-attachments li a {
	border-bottom: 1px dotted #00bce9;
	color: #0060af;
	margin: 0;
	text-decoration: none;
}

#publication-attachments li a:hover {
	border-bottom: none;
	color: #00bce9;
}
