---
layout: default
title: "Projects"
description: "What I did"
header-img: "img/about-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
            <!-- {{content}} -->
            <div class = "panel panel-success">
               <div class = "panel-heading">
                  <h3 class = "panel-title">交互式2D到3D卡通建模系统</h3>
               </div>
               
               <div class = "panel-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/4864832/">
                                 <img src="/img/in-projects/2d-to-3d.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                            一个快速将2D卡通图片转化成3D模型的系统，可以让非专业人员或儿童更加轻松地来创建自定义的3D模型。以该项目为背景的论文发表在了Edutainment 2016国际会议上。
                        </div>
                    </div>
               </div>
            </div>

            <div class = "panel panel-success">
               <div class = "panel-heading">
                  <h3 class = "panel-title">游戏《欢乐树》</h3>
               </div>
               
               <div class = "panel-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/4864832/">
                                 <img src="/img/in-projects/happy-tree.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                            独立开发的移动益智休闲游戏， 使用Unity3D开发。
                        </div>
                    </div>
               </div>
            </div>

            <div class = "panel panel-success">
               <div class = "panel-heading">
                  <h3 class = "panel-title">基于移动平台的实时物体追踪系统</h3>
               </div>
               
               <div class = "panel-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/4864832/">
                                 <img src="/img/in-projects/mobile-tracking.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                            基于移动平台的实时物体追踪系统，用于某些增强现实的应用。
                            以该项目为背景的论文获得了“上海交通大学2014届优异学士学位论文。
                        </div>
                    </div>
               </div>
            </div>

            <div class = "panel panel-success">
               <div class = "panel-heading">
                  <h3 class = "panel-title">进击的忍者</h3>
               </div>
               
               <div class = "panel-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/4864832/">
                                 <img src="/img/in-projects/ninja.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                            在DeNA中国实习期间参与开发的多平台手机游戏。
                        </div>
                    </div>
               </div>
            </div>

            <div class = "panel panel-success">
               <div class = "panel-heading">
                  <h3 class = "panel-title">游戏《Let's Fly》</h3>
               </div>
               
               <div class = "panel-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/4864832/">
                                 <img src="/img/in-projects/let-us-fly.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                            基于手机平台的飞行类游戏，使用Unity3D开发。
                            获得“Google 2013年第四届Android应用开发中国大学生挑战赛”本科院校组全国三等奖；获得2013年上海交通大学软件学院软件展示会一等奖。
                        </div>
                    </div>
               </div>
            </div>

            <div class = "panel panel-success">
               <div class = "panel-heading">
                  <h3 class = "panel-title">医疗康复系列游戏</h3>
               </div>
               
               <div class = "panel-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/4864832/">
                                 <img src="/img/in-projects/recovery-game.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                            与校外体感交互公司合作开发的一款诣在通过训练不同的基础手势、帮助有运行缺陷的病人进行康复训练的游戏系统，基于Kinect和Unity3D开发。
                            以该项目为子系统的医民两用型康复系统获得2013年“Kinect for Windows创新应用大赛”开发者组一等奖；获得2013年上海交通大学软件学院软件展示会一等奖。
                        </div>
                    </div>
               </div>
            </div>

            <div class = "panel panel-success">
               <div class = "panel-heading">
                  <h3 class = "panel-title">Kikyou体感游戏</h3>
               </div>
               
               <div class = "panel-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/4864832/">
                                 <img src="/img/in-projects/kikyou-game.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                            与校外体感交互公司合作开发的一款诣在通过训练不同的基础手势、帮助有运行缺陷的病人进行康复训练的游戏系统，基于Kinect和Unity3D开发。
                            以该项目为子系统的医民两用型康复系统获得2013年“Kinect for Windows创新应用大赛”开发者组一等奖；获得2013年上海交通大学软件学院软件展示会一等奖。
                        </div>
                    </div>
               </div>
            </div>

            <div class = "panel panel-success">
               <div class = "panel-heading">
                  <h3 class = "panel-title">我爱记账</h3>
               </div>
               
               <div class = "panel-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 center">
                             <a href="http://book.douban.com/subject/4864832/">
                                 <img src="/img/in-projects/love-accounting.jpg" class="img-thumbnail">
                             </a>
                        </div>
                        <div class="col-md-8 col-xs-12 post-container">
                            一款桌面记账软件。
                        </div>
                    </div>
               </div>
            </div>

        </div>
    </div>
</div>